.swiper {
    width: 100%;
    min-height: 450px;
    height: 70vh;
    &-slide {
        position: relative;
        flex-basis: 100%;
        width: 100%;
        height: 100%;
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            filter: brightness(60%);
            z-index: -1;
        }
        &_first {
            &::before {
                background: url('../img/bg/engine.jpeg') scroll (center / cover) no-repeat ;
            }
        }
        &_second {
            &::before {
                background: url('../img/bg/wheel_change.jpeg') scroll (center / cover) no-repeat;
            }
        }
        &_third {
            &::before {
                background: url('../img/bg/engine_chain.webp') scroll (center / cover) no-repeat;
            }
        }
        &_fourth {
            &::before {
                background: url('../img/bg/computer.jpg') scroll (center / cover) no-repeat;
            }
        }
        &__about {
            margin-top: 20px;
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            left: 50%;
            transform: translateX(-50%);
            top: 35%;
            bottom: auto;
            max-width: 1150px;
            width: 100%;
        }
        &__header {
            text-align: center;
            font-weight: 500;
            font-size: 40px;
            color: #FFFFFF;
            text-transform: uppercase;
        }
        &__descr {
            font-weight: 300;
            font-size: 20px;
            color: #FFFFFF;
            margin-top: 10px;
        }
        &__btn {
            text-transform: uppercase;
            color: #FFFFFF;
            font-weight: 700;
            font-size: 20px;
            padding: 11px 27px;
            background: #DC3545;
            border-radius: 4.8px;
            text-decoration: none;
            margin-top: 17px;
            transition: .3s all;
            &:focus {
                outline: 1px solid #DC3545;
            }
            &:hover {
                background: #b12937;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)
            }
        }
    }
    &-button {
        width: 15% !important;
        height: 100% !important;
        transform: translateY(-50%);
        margin: 0 !important;
        background: none !important;
        border: none;
        &::after {
            color: #FFFFFF !important;
            opacity: .5 !important;
            font-size: 26px !important;
            transition: opacity .15s ease;
        }
        &:focus {
            outline: none !important;
            &::after {
                opacity: 1 !important;
            }
        }
        &:hover {
            &::after {
                opacity: 1 !important;
            }
        }
        &-prev {
            left: 0 !important;
        }
        &-next {
            right: 0 !important;
        }
    }
    &-pagination {
        left: 50% !important;
        transform: translateX(-50%) !important;
        &-bullet {
            position: relative;
            padding: 10px 0 ;
            height: 25px;
            width: 30px !important;
            background: none !important;
            opacity: .5 !important;
            border-radius: 7px !important;
            &::before {
                content: "";
                position: absolute !important;
                top: 50% !important;
                left: 50% !important;
                transform: translateY(-50%) translateX((-50%)) !important;
                width: 30px !important;
                height: 3px !important;
                background: #FFFFFF !important;
                transition: all .6s ease !important;
            }
            &-active {
                opacity: 1 !important;
            }
        }
    }
}
