.top {
    background-color: #DEE2E6;
    &__descr {
        font-weight: 400;
        font-size: 22px;
        color: #212529;
        text-align: center;
        padding: 15px 0;
        span{
            font-weight: 700;
            letter-spacing: .6px;
        }
    }
}